h1{
    color:#1f1f14;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
.skip-color{
    color: orangered;
}
.first-part{
    width: 50%;
    padding: 5%;
}

.order-button{
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5px;
    background-image: linear-gradient(orange, tomato);
    color: wheat;
    font-weight: 700;
    border-radius: 20px;
}